<div id="search-searchbar"></div>
<div id="search-hits"></div>

<!-- Including InstantSearch.js library and styling -->
<script src="/assets/js/instantsearch.min.js"></script>
<script src="/assets/js/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}'
});


const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }

  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  const title = hit._highlightResult.title.value;

  const content = hit._highlightResult.html.value;

  return `
    <div class="post-item">
      <span class="post-meta">~ ${date} - </span>
      <a class="post-link" href="${url}">${title}</a>
      <div class="post-snippet">${content}</div>
    </div>
  `;
}

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search into posts...',
    poweredBy: false
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

// Starting the search
search.start();
</script>

<style>
/* =============================================================================
Custom style
========================================================================== */
    .ais-search-box{ max-width: 100%; margin: 1rem 0;}
    .post-item{ margin: 1.5rem 0 2rem;}
    .post-link, .post-meta{ font-weight: bold;}
    .post-link .ais-Highlight{ color: var(--link-color); font-style: normal; text-decoration: underline}
    .post-breadcrumbs{ color: var(--accent-text-color); display: block}
    .post-breadcrumb{ font-size: 18px; color: var(--accent-text-color)}
    .post-breadcrumb .ais-Highlight{ font-weight: bold; font-style: normal}
    .post-snippet .ais-Highlight{ color: var(--link-color); font-style: normal; font-weight: bold}
    .post-snippet img{ display: none}
</style>

