<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

  {% include favicon.html %}

  {% include seo.html %}

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ site.feed.rss | prepend: site.url }}" title="{{ site.title }}">
  <link rel="alternate" type="application/json" href="{{ site.feed.json | prepend: site.url }}" title="{{ site.title }}">

  <!-- Sitemap -->
  <link rel="sitemap" type="application/xml" href="{{ site.sitemap | prepend: site.url }}" title="Sitemap">

  <!-- Darktheme -->
  <meta name="color-scheme" content="dark light">

  {% include style.html %}

</head>