/* =============================================================================
    Global variables
========================================================================== */
:root {
    --main-text-color: rgb(68, 68, 68);
    --accent-text-color: rgb(0, 0, 0);
    --main-background-color: rgb(250, 250, 250);
    --accent-background-color: rgb(239, 239, 239);
    --warning-color: rgb(255, 238, 170);
    --notice-color: rgb(170, 204, 255);
    --donate-color: rgb(170, 255, 171);
    --link-color: rgb(239, 52, 52);
    
    --sans: sans-serif;
    --mono: monospace;
    --default-font-size: 1.125em;
    --default-line-height: 1.618;
    --content-margin: 1.5rem auto;
    --bigger-content-margin: 2.5rem auto;
    --standard-border: 2px solid var(--main-text-color);
    --dashed-border: 2px dashed var(--main-text-color);
}
/* =============================================================================
    Global variables [for Dark Mode]
========================================================================== */
@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: rgb(204, 204, 204);
        --accent-text-color: rgb(250, 250, 250);
        --main-background-color: rgb(34, 34, 34);
        --accent-background-color: rgb(45, 45, 45);
        --warning-color: rgb(146, 122, 44);
        --notice-color: rgb(48, 112, 208);
        --donate-color: rgb(36, 172, 135);
        --link-color: rgb(19, 189, 236);
    }
    img {
        opacity: 70%;
    }
}
/* =============================================================================
    Body Elements
========================================================================== */
html {
    scroll-behavior: smooth;
    padding: 0 1em;
}

body {
    color: var(--main-text-color);
    background: var(--main-background-color);
    font-family: var(--sans);
    font-feature-settings: "kern" on;
    font-variant-ligatures: common-ligatures;
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main,
header,
footer {
    display: block;
    max-width: 30rem;
    margin: 0 auto;
}

main {
    margin-bottom: 3em;
}

article {
    padding: 1em 0;
}

article p {
    text-align: justify;
}

/* =============================================================================
    Format Nav
========================================================================== */
nav {
    border-top: var(--standard-border);
    font-weight: 600;
    line-height: 2.50;
}

nav a,
nav a:visited {
    padding: 0.65rem 1rem 0 0;
    text-decoration: none;
    margin: 0;
}

nav a#current {
    color: var(--link-color);
}

.site-title {
    margin: 3rem 0 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}

// .site-title::after {
//     display: inline-block;
//     content: "";
//     width: .20em;
//     height: .20em;
//     margin-right: 0.1em;
//     background: var(--link-color);
//     border-radius: .0625rem;
// }
.site-title::before {
    content: "~";
    color: var(--accent-text-color);
    position: relative;
}

.page-title {
    margin-top: 0.8em;
}

.index-title {
    margin-top: 1.8em;
}
/* =============================================================================
    Typography and link formatting
========================================================================== */
h1, h2, h3, h4 {
    color: var(--accent-text-color);
    word-wrap: break-word;
    margin-top: 2em;
}


h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: var(--default-font-size);
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 700;
}

h1 code,
h2 code,
h3 code,
h4 code {
    font-size: inherit;
    color: var(--accent-text-color);
}

p {
    margin: var(--content-margin);
}

a,
a:visited {
    color: var(--main-text-color);
    transition: color .1s ease-in-out,background-color .1s ease-in-out;
}

a:hover {
    color: var(--link-color);
}

h2 a,
h3 a,
h2 a:visited,
h3 a:visited {
    color: var(--accent-text-color);
}

/* =============================================================================
    Format media and captions
========================================================================== */

img,
figure,
video {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

img+em,
figcaption {
    font-size: 80%;
    text-align: center;
    display: block;
    line-height: 3;
}

/* =============================================================================
    Post Metadata
========================================================================== */

.post-meta {
    font-size: 1rem;
    margin: 0;
}

/* =============================================================================
    After Article Notice/Donate Boxes
========================================================================== */
.after-article {
    border-top: 2px dashed var(--main-text-color);
    display: flex;
    justify-content: space-between;
}

.donate br,
.notice br {
    content: "";
    margin: 0.5em;
    display: block;
}

.donate,
.notice {
    width: calc(48% - 8px);
    margin: 3rem 0 2rem;
    font-size: 90%;
    border: var(--standard-border);
    text-align: center;
    padding: 0 0.3rem 1.5rem;
}

.donate::before,
.notice::before {
    color: var(--accent-text-color);
    display: block;
    position: relative;
    left: -0.44rem;
    top: -1rem;
    font-weight: bold;
    border: var(--standard-border);
    padding-top: 0.2rem;
    width: 14.5rem;
}

.donate::before {
    content: "DONATE";
    background: var(--donate-color);
}

.notice::before {
    content: "NOTICE";
    background: var(--notice-color);
}

/* =============================================================================
    Tip, info and warning boxes
========================================================================== */

/* Info box */
.info {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 2rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgb(12, 84, 96);
    background-color: rgb(209, 236, 241);
    border-color: rgb(190, 229, 235);
}

.info::before {
    content: url('/assets/images/icons/info.svg');
    color: inherit;
    width: 1em;
    display: inline-block;
    padding-right: 0.5em;
    height: 1em;
    vertical-align: -0.15em;
}

.info a,
.info a:visited {
    color: rgb(12, 84, 96);
}

.info a:hover {
    color: rgb(239, 52, 52);
}

/* Tip box */
.tip {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 2rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border-color: rgb(195, 230, 203);
}

.tip::before {
    content: url('/assets/images/icons/lightbulb.svg');
    color: inherit;
    width: .6875em;
    display: inline-block;
    padding-right: 0.5em;
    height: 1em;
    vertical-align: -.15em;
}

.tip a,
.tip a:visited {
    color: rgb(21, 87, 36);
}

.tip a:hover {
    color: rgb(239, 52, 52);
}

/* Warning box */

.warning {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 2rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgb(255, 145, 0);
    background-color: rgb(255 242 226);
    border-color: rgb(255, 200, 0);
}

.warning::before {
    content: url('/assets/images/icons/warning.svg');
    color: inherit;
    width: 1em;
    display: inline-block;
    padding-right: 0.5em;
    height: 1em;
    vertical-align: -.15em;
}

.warning a,
.warning a:visited {
    color: rgb(255, 145, 0);
}

.warning a:hover {
    color: rgb(255, 73, 73);
}

/* =============================================================================
    Format Pre Code
========================================================================== */

pre,
code,
tt,
var {
    font-family: var(--mono);
    font-size: 1.1rem;
    color: var(--main-text-color);
    background: var(--accent-background-color);
    padding: 2px 5px;
    border: 1px solid var(--main-text-color);
}

pre,
pre.highlight {
    background: var(--accent-background-color);
    border: 3px solid var(--main-text-color);
    margin: var(--bigger-content-margin);
    max-width: 100%;
    padding: 1.5rem;
    max-height: 650px;
    overflow: auto;
    white-space: pre;
}

pre code {
    font-size: 1rem;
    padding: 0;
    background: none;
    border: none;
}

kbd {
    color: var(--main-text-color);
    background: var(--accent-background-color);
    border: 1px solid var(--main-text-color);
    border-bottom: var(--standard-border);
    border-radius: 5px;
    padding: 0.1rem 0.25rem;
}

/* =============================================================================
    Misc content elements
========================================================================== */
blockquote {
    font-size: 100%;
    margin: var(--bigger-content-margin);
    padding: 0 0.8rem;
    border-left: 6px solid var(--main-text-color);
    font-style: italic;
}

table {
    margin: var(--content-margin);
    border: var(--standard-border);
}

table p {
    text-align: left;
}

th {
    text-align: left;
    padding: .2rem .4rem;
    background: var(--accent-background-color);
}

td {
    padding: .2rem .4rem;
}

tr:nth-child(2n) {
    background: var(--accent-background-color);
}

hr {
    border-top: 1px solid var(--main-text-color);
    margin: 2.5rem auto;
    max-width: 80%;
}

mark {
    padding: 0.1rem 0.25rem;
    background-color: rgb(255, 230, 0);
    border-radius: 4px;
}

abbr[title] {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

/* =============================================================================
    Footnotes
========================================================================== */
.footnotes {
    border-top: 1px dashed var(--main-text-color);
    padding: 0.5em 0 0 0;
    margin-top: 2em;
}
.footnotes li,
.footnotes p {
    color: var(--main-text-color);
    font-size: 95%;
}
/* =============================================================================
Footer
========================================================================== */
footer {
    border-top: var(--standard-border);
    padding: 1rem 0;
}

footer p {
    font-size: 90%;
}

footer a:hover{
    color: var(--link-color);
    background: none;
}
/* =============================================================================
    Format the details/summary box
========================================================================== */
details {
    background: var(--accent-background-color);
    border: var(--standard-border);
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: .6rem 1rem;
}

details[open] {
    padding: .6rem 1rem .75rem 1rem;
}

details[open] summary {
    margin-bottom: .5rem;
    padding: 0;
}

details[open]>*:last-child {
    margin-bottom: 0;
}

/* =============================================================================
    Format the prev & next links on posts
========================================================================== */
.post-nav {
    border-top: 2px dashed var(--main-text-color);
    border-bottom: 2px dashed var(--main-text-color);
}

.post-nav a {
    font-weight: bold;
}

/* =============================================================================
    Tag Cloud
========================================================================== */
.tag-cloud {
    text-align: center;
    padding: 0 3.5em;
}

/* =============================================================================
    Small screens settings
========================================================================== */

@media(max-width:600px) {
    
    /* After Article Notice/Comments */

    .after-article {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 2em 0 1.5em;
    }

    .donate,
    .notice {
        margin: 1.2rem 0;
        width: 100%;
        line-height: 1.2em;
        font-size: 100%;
        padding: 1rem 1rem 2rem;
    }

    .donate::before,
    .notice::before {
        left: -1.14rem;
        top: -2rem;
        padding: 0.2rem 0 0.1rem;
    }

    /* Tag Cloud */
    .tag-cloud {
        padding: 0;
    }

    /* Hide some nav items on mobile */

    .hide-menu 
    {
        display: none;
    }
}