/* =============================================================================
Openring
========================================================================== */
.webring .description {
    padding: 0;
}

.webring .articles {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.webring .title {
    margin: 0;
}

.webring .title a {
    font-size: 100%;
}

.webring .article {
    border: 1px solid;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0.5rem;
    min-width: 10rem;
}

.webring .summary {
    font-size: 75%;
    flex: 1 1 0;
}

.webring .source {
    font-size: 80%;
}

.webring .date {
    font-size: 80%;
}

.webring .attribution {
    text-align: right;
    font-size: 90%;
}

/* =============================================================================
    Small screens settings
========================================================================== */

@media(max-width:600px) {
    .webring .summary {
        font-size: 90%;
    }
    .webring .article {
        margin: 0.5rem;
    }
}