---
layout: default
---
<main>
  <h1>{{ page.title }}</h1>
  <p class="post-info">
  Published: {{ page.date | date: "%B %-d, %Y" }}<br>
  {{ page.content | number_of_words }} words &middot; {% include reading-time.html %}<br>
  Tagged: {% for tag in page.tags %}<a href="/tags/{{ tag | slugify: 'pretty' }}/">#{{ tag | slugify: 'pretty' }}</a>{% unless forloop.last == true %},&nbsp;{% endunless %}{% if forloop.last == true %}.{% endif %}{% endfor %}
  </p>

  <article>
    {% include tldr.html %}
    {{ content }}
  </article>

  <!-- After Article Contact Section-->
  <div class="after-article">
    <p class="notice"><strong>Questions, comments or concerns?</strong><br>Please share your thoughts through <a href="mailto:{{ site.author.email }}?subject=Re: {{ page.title | xml_escape }}">Email</a> or <a href="{{ site.author.mastodon }}" rel="me noopener" target="_blank">Mastodon</a>.</p>
  </div>
    <!-- End of After Article Contact Section -->

  <!-- Previous/Next Post Section -->
  <div class="post-nav">
    
    {% if page.previous.url %}
    <p>&lt;~ Previous: <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
    {% endif %}
    
    {% if page.next.url %}
    <p>~&gt; Next: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
    {% endif %}
    
  </div>
  <!-- End Previous/Next Post Section -->
  <!-- Openring Fetched Content-->
  {% include openring-out.html %}
  <!-- End of Openring Fetched Content-->
</main>